* {
    text-align: center;
  }
  

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 60%;
	font-size: 18px;
    margin-right:10px;
    margin bottom:10px;
    float:left;
    }

header {
    background: #ebebeb;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.topnav {
    background: #ebebeb;
    padding: 30px;
    margin-bottom: 20px;
}

section {
    background: #ebebeb;
    width: 50%;
    height: 300px;
    padding-top: 30px;
    float:left;
    margin-bottom: 20px;
}

aside {
    background: #ebebeb;
    width: 48.5%;
    float: right;
    padding-top: 30px;
    height: 300px;
}

footer {
    background: #ebebeb;
    padding: 20px;
    clear: both;
}

article {
    color: #ebebeb;
    background: #777;
    margin: 10px 10px 10px 10px;
	padding-top: 10px;
    height: 220px;
}


h1,p {
    color: #777;
    background: #ebebeb;
    padding:20px;
    margin-right: 10px;
    margin-left: 10px;

}

div {
    margin:10px, 0px, 10px, 0px;
}
